/* Text Colors */
.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30pc;
    color: #fff;
    background-color: #28a745;
}